[Desktop Entry]
Encoding=UTF-8
Name=Link to Image result for turning time glass gif
Type=Link
URL=https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwic5c7EnuHeAhWliaYKHdAGDwYQjRx6BAgBEAU&url=https%3A%2F%2Fgfycat.com%2Fgifs%2Fdetail%2Fwhoppinghandmadegoose&psig=AOvVaw17jq5ldvP7Psvc3Qj8s0hF&ust=1542743769648576
Icon=text-html
